body {
  background-image: linear-gradient(to right, rgb(130, 130, 214), cyan);
}

#form {
  width: 40%;
  margin: auto;
  margin-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

#form > input {
  width: 100%;
  height: 40px;
  border: none;
  background-color: black;
  margin-top: 30px;
  padding-left: 10px;
  color: white;
}

#sub {
  width: 102%;
  color: white;
  margin: auto;
}
